.card {
  width: var(--cell-size);
  height: var(--cell-size);
  perspective: 500px;
}

.card__content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1000ms;
  transform-style: preserve-3d;
}

.card.card--flipped .card__content {
  transform: rotateY(-180deg);
  transition: transform 500ms;
}

.card__front-face,
.card__back-face {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #03446a;
  color: white;
  font-size: 60px;
  border-radius: 0.5rem;
  backface-visibility: hidden;
  padding: 1rem;
}

.card__front-face {
  user-select: none;
  cursor: pointer;
}

.card__back-face {
  background-color: white;
  color: #03446a;
  transform: rotateY(180deg);
}

img {
  display: block;
  width: 100%;
  image-rendering: pixelated;
}
